body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container-card {
    perspective: 1000px;
}

.card{
    width:350px;
    height:250px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover {
    transform: rotateY(180deg);
}

.front, .back {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width:100%;
    height:100%;
    border-radius: 5px;
    box-shadow:0 8px 7px rgba(0,0,0,0.3);
}

.front {
    background-color: bisque;
    color: rgb(107, 34, 175);
}

.back {
    background-color: rgb(143, 75, 75);
    color: antiquewhite;
    transform: rotateY(180deg);
    font-size:large;
}
.back p{
    margin: 5px 5px;
    padding:10px 10px;
    border-radius: 5px;
    text-align: center;
    width:90%;
}
.back .phone{
    background-color: rgb(196, 119, 91);
}
.back .email{
    background-color: aquamarine;
    color:black;
}
.back .address{
    background-color: rgb(20, 96, 99);
}

.front h1 {
    background-color: transparent;
    margin: 5px 0;
    font-size:30px;
}

.profile-img{
    width:200px;
    height:150px;
    border-radius: 5px;
    margin:10px 0;
    object-fit: cover;
}
